// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
$color-1 = #ccc

.hljs-ln-numbers
  touch-callout nones
  text-align center
  color $color-1
  vertical-align top
  padding 0px 10px!important
  border-right: 1px solid

.hljs-ln-code
  padding-left 1em


@media (max-width: 768px)
  table
    width: 100%!important

@media (min-width: 768px)
  header
    padding 30px 0px