.post-content
  padding-top 2rem
  text-align justify

  h2,
  h3,
  h4,
  h5,
  h6
    padding-top .8em
    padding-bottom .3em
  h1::before
       content "#"
       margin-right 5px
       color $light-post-link-color
       .dark-theme &
         color $dark-post-link-color
  h2::before
       content "#"
       margin-right 5px
       color $light-post-link-color
       .dark-theme &
         color $dark-post-link-color

  h3::before
       content "|"
       margin-right 5px
       color $light-post-link-color
       .dark-theme &
         color $dark-post-link-color
  h4::before
       content "*"
       margin-right 5px
       color $light-post-link-color
       .dark-theme &
         color $dark-post-link-color

  a
    color $light-post-link-color
    .dark-theme &
      color $dark-post-link-color

  a:hover
    color $light-post-link-hover-color
    .dark-theme &:hover
      color $dark-post-link-hover-color
      text-decoration underline


  figure.highlight
    margin 1em 0
    overflow-x auto
    position relative
    &::-webkit-scrollbar
      width 6px
      height 6px
    &::-webkit-scrollbar-thumb
      width 6px
      background-color #eee
      border-radius 2px
    table
      position relative
    table, tr, td
      margin 0
      padding 0
      border 0
      width 100%
      border-collapse collapse
    // line number
    .gutter
      width 10px
      color #d0d0d0
      pre
        margin 0


  ul
    padding-left 2em
    
  table
    &:not(.hljs-ln)
      max-width 100%
      margin 10px 0
      border-spacing 0
      border-collapse: collapse;
      font-family: Arial, Helvetica, sans-serif;
      color: #666;
      font-size: 12px;
      text-shadow: 1px 1px 0px #fff;
      background: #eaebec;
      border: #ccc 1px solid;
      width: 60%;
      // margin-left: 20%;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: 0 1px 2px #d1d1d1;
      -webkit-box-shadow: 0 1px 2px #d1d1d1;
      box-shadow: 3px 4px 8px 0px #d1d1d1;
      .dark-theme &
          box-shadow: 0px 0px 0px 0px #d1d1d1
          border: 0px;
      thead
        background $light-post-table-background-color
        .dark-theme &
          background $dark-post-table-background-color
        th, td
          text-transform: uppercase;
          font-family: Lato-Bold;
          font-size: 15px;
          .dark-theme &
            color: #00ad5f; 
            // line-height: 2;
            background-color: #393939;
            text-shadow 0px 0px 0px #fff
            border: 0px
      tbody
        &:before
          max-height: 585px;
        height: 100px;       /* Just for the demo          */
        overflow-y: auto;    /* Trigger vertical scroll    */
        overflow-x: hidden; 
        td
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #e0e0e0;
          border-left: 1px solid #e0e0e0;
          .dark-theme &
            // font-family: Lato-Regular;
            // font-size: 15px;
            color: #808080;
            // line-height: 1.4;
            background-color: #222222;
            background:#222222;
            border: 0px  
            text-shadow: 0px 0px 0px
      th, td
        &:first-child
          text-align: left;
          padding-left: 20px;
        padding 5px 15px
      th
        border-top: 1px solid #fafafa;
        border-bottom: 1px solid #e0e0e0;
      a
        &:hover
        &:active
          color: #bd5a35;
          text-decoration: underline
        &:link
          color: #666;
          font-weight: bold;
          text-decoration: none;
        .dark-theme
          &:link
            color $dark-post-link-color
      tr
        // text-align: center;
        padding-left: 20px;
        &:hover td
          background: #f2f2f2;
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#f2f2f2),
            to(#f0f0f0)
          );
          background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
        .dark-theme &:hover td
            background: #393939 ;

      td
        background: #fafafa;
        background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fbfbfb),
        to(#fafafa)
        );
        background: -moz-linear-gradient(top, #fbfbfb, #fafafa);

  .image-caption:not(:empty)
    min-width 20%
    max-width 80%
    display inline-block
    padding 10px
    margin 0 auto
    border-bottom 1px solid #d9d9d9
    font-size 14px
    color #969696
    line-height 1.7

  img
    display block
    max-width 80%
    height auto
    margin 0 auto
    overflow hidden

  img[data-action="zoom"]
    cursor zoom-in
  // this element is rendered by hexo.extend.tag.register()
  // location: scripts/image.js
  .image-box
    .image-box-title
      text-align center
      font-size .7em
      margin-top .5em
      margin-bottom 1em
      color $light-font-secondary-color
      .dark-theme &
        color $dark-font-secondary-color
  // end element

  blockquote
    font-size 1rem
    display block
    margin 1em 0
    padding 1em 1.2em 1em 1.2em
    position relative
    color rgba(#34495e, 0.8)
    background-color $light-post-blockquote-background-color
    border-left 2px solid $light-post-blockquote-border-color
    //box-shadow 1px 1px 2px rgba(0,0,0,0.125)
    p
      margin 0
    footer
      strong
        margin-right 0.5em
    .dark-theme &
      color $dark-font-color
      background-color $dark-post-blockquote-background-color
      border-left 2px solid $dark-post-blockquote-border-color
    &.pullquote
      background-color transparent
      max-width 45%
      border 0
      &.left
        float left
        text-align left
      &.right
        float right
        text-align right